
<div class="buy-gas--price-count">
  <div class="price-count--call">
    <button><img src="images/buy-gas-telephone.svg"/></button>
  </div>
  <div class="price-count--confirm">
    <button>立即付款</button>
    <p>金額：<span class="price-count--confirm__total"></span></p>
  </div>
  <div class="price-count--other">
    <button><img src="images/buy-gas-shop.svg"/></button>
    <button><img src="images/buy-gas-deposit.svg"/></button>
  </div>
  <div class="buy-gas--ads glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slides"><img src="images/buy-gas-promo.png"/></li>
        <li class="glide__slides"><img src="images/buy-gas-promo2.png"/></li>
      </ul>
    </div>
  </div>
</div>