.buy-gas--price-count
	.price-count--call
		button
			img(src="images/buy-gas-telephone.svg")
	.price-count--confirm
		button 立即付款
		p 金額：#[span.price-count--confirm__total]
	.price-count--other
		button
			img(src="images/buy-gas-shop.svg")
		button
			img(src="images/buy-gas-deposit.svg")
	.buy-gas--ads.glide
		.glide__track(data-glide-el="track")
			ul.glide__slides
				li.glide__slides
					img(src="images/buy-gas-promo.png")
				li.glide__slides
					img(src="images/buy-gas-promo2.png")
