
<div class="menu"><a class="left-menu-btn"><span></span><span></span><span></span><span></span><span></span><span></span></a>
  <div class="menu-content">
    <ul>
      <li><a>
          <p>最新消息</p><img src="images/menu-news.svg"/></a></li>
      <li><a>
          <p>個人帳戶</p><img src="images/menu-profile.svg"/></a></li>
      <li><a>
          <p>我的信用卡</p><img src="images/menu-credit-card.svg"/></a></li>
      <li><a>
          <p>品牌商城</p><img src="images/menu-brand-store.svg"/></a></li>
      <li><a>
          <p>瓦斯商城</p><img src="images/menu-store.svg"/></a></li>
      <li><a>
          <p>退桶申請</p><img src="images/menu-return-gas.svg"/></a></li>
      <li><a>
          <p>加購押桶</p><img src="images/menu-buy-gas.svg"/></a></li>
      <li><a>
          <p>轉換免等方案</p><img src="images/menu-switch-plan.svg"/></a></li>
      <li><a>
          <p>電子發票歸戶</p><img src="images/menu-about.svg"/></a></li>
      <li><a>
          <p>目前服務區域</p><img src="images/menu-service-area.svg"/></a></li>
      <li><a>
          <p>關於瓦斯通</p><img src="images/menu-about.svg"/></a></li>
      <li><a>
          <p>登出</p><img src="images/menu-logout.svg"/></a></li>
    </ul>
  </div>
</div>