
<div class="right-menu"><a class="right-menu-btn">
    <div class="cube">
      <div class="cube--face cube--face__front"><img src="images/right-menu-icon.svg"/></div>
      <div class="cube--face cube--face__top"><span></span><span></span></div>
    </div></a>
  <div class="menu-content">
    <ul>
      <li><a><img src="images/right-menu-orders.svg"/>
          <p>瓦斯產品訂單</p></a></li>
      <li><a><img src="images/right-menu-orders.svg"/>
          <p>品牌商城訂單</p></a></li>
      <li><a><img src="images/right-menu-shopping-cart.svg"/>
          <p>我的購物車</p></a></li>
      <li><a><img src="images/right-menu-phone.svg"/>
          <p>電話叫瓦斯</p></a></li>
      <li><a><img src="images/right-menu-discounts.svg"/>
          <p>我的優惠及存氣</p></a></li>
      <li><a><img src="images/right-menu-customer-service.svg"/>
          <p>客服中心</p></a></li>
    </ul>
  </div>
</div>