.menu
	a.left-menu-btn
		span
		span
		span
		span
		span
		span
	.menu-content
		ul
			li
				a
					p 最新消息
					img(src="images/menu-news.svg")
			li
				a
					p 個人帳戶
					img(src="images/menu-profile.svg")
			li
				a
					p 我的信用卡
					img(src="images/menu-credit-card.svg")
			li
				a
					p 品牌商城
					img(src="images/menu-brand-store.svg")
			li
				a
					p 瓦斯商城
					img(src="images/menu-store.svg")
			li
				a
					p 退桶申請
					img(src="images/menu-return-gas.svg")
			li
				a
					p 加購押桶
					img(src="images/menu-buy-gas.svg")
			li
				a
					p 轉換免等方案
					img(src="images/menu-switch-plan.svg")
			li
				a
					p 電子發票歸戶
					img(src="images/menu-about.svg")
			li
				a
					p 目前服務區域
					img(src="images/menu-service-area.svg")
			li
				a
					p 關於瓦斯通
					img(src="images/menu-about.svg")
			li
				a
					p 登出
					img(src="images/menu-logout.svg")
