.right-menu
	a.right-menu-btn
		.cube
			.cube--face.cube--face__front
				img(src="images/right-menu-icon.svg")
			.cube--face.cube--face__top
				span
				span
	.menu-content
		ul
			li
				a
					img(src="images/right-menu-orders.svg")
					p 瓦斯產品訂單
			li
				a
					img(src="images/right-menu-orders.svg")
					p 品牌商城訂單
			li
				a
					img(src="images/right-menu-shopping-cart.svg")
					p 我的購物車
			li
				a
					img(src="images/right-menu-phone.svg")
					p 電話叫瓦斯
			li
				a
					img(src="images/right-menu-discounts.svg")
					p 我的優惠及存氣
			li
				a
					img(src="images/right-menu-customer-service.svg")
					p 客服中心
