extend base/index-layout.pug

block script
	script(src='js/layout_signup.js' type="module")
block backButton
	a(href="#").back-button
		img(src="images/Back.svg", alt="back")
	p 會員註冊
block main-content
	.signup.default-bg
		.signup--form
			p 請輸入姓名
			.signup--form__input
				input(type="text" name="name" autocomplete="off")#signupName
				label(for="name") 請輸入姓名
		.signup--bottom
			a(href="signup-phone.html")#signupNameBtn 下一步
