extend base/index-layout.pug

block script
	script(src='js/layout_signup.js' type="module")
block backButton
	a(href="#").back-button
		img(src="images/Back.svg", alt="back")
	p 會員註冊
block main-content
	.signup.default-bg
		.signup--form
			p 請輸入驗證碼
			.signup--form__input
				input(type="number" name="varification" autocomplete="off")#signupVarification.signup-input__varification
				p 如五分鐘內未收到驗證碼請點擊#[button 重新發送]驗證碼
		.signup--bottom
			a(href="#")#signupVarificationBtn 下一步
