extend base/index-layout.pug

block script
	script(src='js/layout_signup.js' type="module")
block backButton
	a(href="#").back-button
		img(src="images/Back.svg", alt="back")
	p 服務條款
block main-content
	.signup--policy.default-bg
		.policy-content
			p.break 【gastom瓦斯通App】 一般用戶會員
			p 歡迎您加入【gastom瓦斯通App】 (下稱本系統)會員，【gastom瓦斯通App】為蜂群電子商務股份有限公司(以下稱本公司)所經營，當您註冊為【gastom瓦斯通App】之會員，即表示您已閱讀、了解本使用條款之所有條款內容，並同意以電子文件方式行使同意權，且具有書面同意之效果，受到以下各項條款之約束。
			p 如是未滿二十歲之未成年人，則必須在註冊免費會員前將本使用條款經由您的法定代理人或監護人之閱讀，並取得之同意，始可註冊及使用【gastom瓦斯通App】所提供之各項會員服務（包括簡訊、網路服務及手機APP服務，以下稱本服務）。當您註冊成為【gastom瓦斯通App】之會員或使用本公司所提供之服務，即視為您的法定代理人或監護人已經閱讀、了解並同意本使用條款。
			p.break 【gastom瓦斯通App一般用戶會員服務使用條款】
			p.break 一、會員帳號、密碼與安全性：
			p 1.依註冊申請程序所提示之項目，登錄本人正確、真實及完整性之個人資料，不得有造假或冒用他人資料之情形。當您的個人資料有異動時，請立即至瓦斯通App上的個人帳戶→個人資料更新，以維持您個人資料之正確、真實、完整並同時保障您的會員權益。如因您登錄不實資料或冒用他人名義，致自己之權利受有損害、侵害他人之權利或因此發生違法之情形時，本公司將不負擔任何法律責任。
			p 2.為保障您的會員權益，您所提供的電子郵件地址必須為您自己所使用之正確電子郵件地址(Email address)以利本公司電子發票寄送。
			p 3.註冊完成後，您將會取得一組帳號及密碼（如登出後再次登入，需輸入驗證碼），此註冊帳號僅限本人使用，而登入之帳號之密碼請妥善保管並維持其機密與安全，不得洩漏予任何第三人，如因您個人之故意、過失行為，致帳號密碼資訊洩漏、遭他人不法利用時，本公司將不負擔任何法律責任。如本公司發覺您有資料不實之情形，有權立即否認您的會員身分，並不再提供任何服務。
			p.break 二、系統使用：
			p 1.當您成功註冊為本系統之會員時，您可以選擇提供信用卡綁定或以現金，作為日後消費支付方式。
			p 2.您於使用本公司相關服務前，請先確認您為自有瓦斯桶用戶或使用本公司系統登記gastom鋼瓶用戶。如您擁有瓦斯鋼瓶液化石油容器(具有內政部消防署印製液化石油氣容器定期檢驗合格標示)，且其出廠耐壓試驗日期為20年內者，得於本系統中註記為「自有桶用戶」；如您未有瓦斯鋼瓶液化石油容器或雖有瓦斯鋼瓶液化石油容器然並未符合上開資格者，應屬本公司系統登記gastom鋼瓶用戶，您可以繳付一定之瓦斯鋼瓶押金，本公司將提供檢驗合格之瓦斯鋼瓶供您使用。
			p 3.本系統依運送速度區分為「一般訂單」、「立即送」與「明天送達」，如您為「一般訂單」，則配送員將於每日上午8時後依當日運送路線安排配貨順序；如您為「立即送」訂單，配送員自您訂單完成時起90分鐘內將您訂購之瓦斯桶送達您指定地址(此服務將另行收取快遞費60元)；如您為「明天送達」訂單，配送員將預先為您安排隔日送貨之優先順位配送。
			ul 4.優惠方式：
				li (1) 「立即送」訂單：如配送員逾90分鐘送達，本公司將不會收取快遞費新台幣60元，信用卡用戶者，將會將快遞費新台幣60元退至您的付款信用卡；現金用戶者，當次消費將不另收取快遞費新台幣60元。
				li (2) 「明天送達」訂單：當您成功成立該筆訂單，本系統將會於您結帳時自動於消費總金額扣除新台幣20元。
				li (3)前兩項優惠方式皆無法與本公司辦理其他特殊優惠活動合併使用。
			ul 5.取消訂單：
				li (1)當您使用「一般訂單」完成付款後，接獲「配送員已開始送貨」之系統自動推播前，如欲取消訂單，本公司將不會收取任何費用，信用卡用戶者，即會將您預先支付之款項全數退回付款信用卡；現金用戶者，本公司不會另行向您收取款項。
				li (2)當您使用「一般訂單」完成付款後，已收到系統發出「配送員已開始送貨」之推播訊息者，如欲取消訂單，本公司將收取手續費用新台幣50元，信用卡用戶者，前開手續費用會自您預先支付之費用中扣除，並將剩餘部分退回付款信用卡；現金用戶者，該次手續費新台幣50元將於下次訂單消費金額中收取。
				li (3)當您使用「明天送達」訂單完成後，如欲取消訂單，該訂單優惠新台幣20元本公司將收回，不得再行使用，並會另向您收取手續費新台幣50元，信用卡用戶者，手續費新台幣50元會自您預先支付之費用中扣除，並將剩餘部分退回付款信用卡；現金用戶者，該次手續費新台幣50元將於下次訂單消費金額中收取。
				li (4)退回費用之作業流程預計約7-21個工作日(不含假日期間)。
			ul 6.收貨：
				li (1)配送員於接近您指定送達地址時，本系統會預先提醒您，請您(或指派他人)務必於送達地址配合接洽。
				li (2)您於收貨後，務必當場確認本公司提供之服務無任何問題，若配送員離開後您才提出服務相關爭議反映，本公司恕不受理。
				li (3)如您提出之相關爭議反映，經發現確為本公司提供服務有瑕疵所致，本公司將免費為您替換，以提供您完善之服務。
			p.break 7.鋼瓶僅得做「相同規格」使用，不得以小換大，或以大換小。
			p.break 三、殘氣(存氣)兌換：
			p 1.本條殘氣(存氣)兌換優惠，僅限於本系統中註冊成功之地址。
			p 2.當您第一次下單起，配送員每次於替換瓦斯桶時，將測量您現有瓦斯桶內殘氣(存氣)重量，您可使用本系統進行紀錄（每次瓦斯桶殘氣重量之記錄，最多以該使用瓦斯桶容量之五分之一為記錄上限，如有逾五分之一之情形，以五分之一計算），您累積之殘氣(存氣)重量已達原瓦斯桶容器重量時，得申請兌換相同容器重量之瓦斯一桶(如：原容器重量為20公斤，則累積殘氣(存氣)需滿20公斤時，始得申請兌換)。
			p 3.如當次以存氣兌換，而未使用消費服務者，本公司將收取50元運送費。
			p 4.物流執行秤存氣任務，用戶可確認物流操作顯示存氣數確認當筆存氣量，如遇外來因素導致磅秤系統連線異常，當筆存氣未顯示，該鋼瓶回發貨中心系統複秤比對後，系統將該鋼瓶實際存氣數自動歸戶存氣累積。
			p.break 5.瓦斯桶帳戶存氣不得轉讓或兌換現金，亦不得折抵其他服務。
			p.break 四、自有瓦斯桶用戶：
			p 1.新註冊用戶自行持有鋼瓶(下稱自有瓦斯桶用戶)，需未與其他瓦斯行簽立相關契約約定，且限耐壓日期未超過20年。
			p 2.自有瓦斯桶用戶應依鋼製液化石油氣容器定期檢驗基準定期進行容器檢驗，並通過第一次外觀檢查及耐壓膨脹試驗、第二次外觀檢查、內部檢查、重量檢查等。
			p 3.非系統登記gastom鋼瓶用戶如欲轉換為自有瓦斯桶用戶，用戶提供之自有瓦斯桶標示下次檢驗期限為一個月內者，用戶需自行負擔新台幣300元檢驗費，檢驗通過後，不會再產生任何檢驗費用。
			p.break 4.非gastom鋼瓶若皆符合上述規範，非gastom鋼瓶經入系統完成訂單，瓦斯通依政府規範外觀標準噴漆流通，則無法指定鋼瓶還原歸還。
			p.break 五、系統登記gastom鋼瓶用戶：
			p 1.如您未有瓦斯鋼瓶液化石油容器或雖有瓦斯鋼瓶液化石油容器然並未符合上開資格者，應屬本公司系統登記gastom鋼瓶用戶，應依照本條規範辦理。
			ul 2.押金規則：
				li (1)使用系統登記鋼瓶容量為4公斤/10公斤：押金為新台幣1,200元。
				li (2)使用系統登記鋼瓶容量為16公斤/20公斤：押金為新台幣1,500元。
				li (3)使用系統登記鋼瓶容量為50公斤：押金為新台幣3,000元。
			p 3.系統登記gastom鋼瓶用戶使用時，應就該鋼瓶為正常使用、妥善保管，如經本公司發現該鋼瓶有非正常使用情況下所生之損傷、人為瑕疵，至該鋼瓶有無法再為使用或僅能使用一部分之情形時，用戶應負擔相關損害賠償責任。
			p.break 4.系統登記gastom鋼瓶相關檢驗費用，由本公司負擔。

			p.break 六、瓦斯桶退還(限系統登記gastom鋼瓶用戶)：

			p 1.當您不再繼續使用本公司之相關服務時，需將原押瓦斯桶之編號告知本公司後始可辦理退還流程。本公司退桶程序不保證當天前往收取瓦斯桶。
			ul 2.依雙方簽訂之[液化石油氣供氣定型化契約]之第四條容器所有權、第五條容器保證金、第十三條容器保證金退還方式等約定，應將容器歸還本公司，退還條件如下：
				li (1)退還瓦斯桶須為本公司系統登記之gastom鋼瓶。
				li (2)用戶APP執行退桶訂單，可選擇該退桶殘氣數存入APP帳戶或者殘氣折現退銀行指定帳號，選擇殘氣存入APP帳戶，僅提供存氣兌換並需符合APP存氣兌換規則。
				li (3)退還之瓦斯桶不得有其他非正常使用情況下所生之損傷、人為瑕疵，至該鋼瓶有無法再為使用或僅能使用一部分之情形。
			p 3.如您確實符合上述退還瓦斯桶之條件，經本公司審核通過後，本公司會於7-21之工作日(不含假日期間)內將原瓦斯桶押金匯至您的指定帳戶。
			p 4.如您所退還之瓦斯桶非系統登記之gastom鋼瓶、或該瓦斯桶有其他非正常使用情況下所生之損傷、人為瑕疵，至該鋼瓶有無法再為使用或僅能使用一部分之情形時，則不符合本條約定之退還押金之條件，您即無法辦理退還，本公司亦不退還原瓦斯桶押金。
			p.break 5.本公司將依當月政府公告價為計算基準，並於7-21之工作日(不含例假日期間)內依據當月實價為計算，將您最後一次使用之瓦斯桶內殘氣等值之現金匯至您指定帳戶。

			p.break 七、優惠券使用：

			p 1.每次消費僅可使用一張優惠券折抵。
			p 2.優惠券不得併入其他優惠同時使用。
			p 3.優惠券之使用應以該優惠券上所載使用期限為準。

			p.break 八、個資蒐集前告知事項：

			p 1.「個人資料」包含：姓名、聯絡電話、電子郵件、配送住址、 銀行帳戶、信用卡或簽帳卡之號碼、個人之其他號碼或帳戶。
			p 2.對於您的個人資料，本公司及本系統將遵守個人資料保護相關法令規定。關於個人資料保護及隱私權政策，請參閱隱私權聲明。
			p 3.對於您個人的資料，本公司及本系統除了採用安全交易模式外，並承諾負保密義務，除了為完成交易或提供顧客服務而提供給相關商品或服務之配合廠商以外，不會任意洩漏或提供給第三人知悉。
			p 4.本公司蒐集您的個人資料之目的在於進行姓名、聯絡電話、電子郵件、配送住址，進行會員管理與行銷與統計調查與分析等，以利您會員權益維護。
			p 5.利用期間與利用地區：本公司營運期間、營運地區及本網站/本服務提供服務之地區。
			ul 6.利用對象及方式：個人資料蒐集除用於本公司之會員管理、客戶管理外，並予以下利用：
				li (1)提供瓦斯送貨員配送服務：因當訂單交易完成時，系統自動派送提供於瓦斯送貨員配送服務，本公司會將您的個人資料自行或交付予相關合作廠商用於服務提供及物品配送之目的。
				li (2)金融交易及授權：將財務相關資訊，於金融交易過程(如信用卡授權、轉帳)時提交給金融機構/合作廠商以順利完成交易。
				li (3)行銷與統計調查與分析：本公司會將您的個人資料自行或交付本公司之關係企業、合作廠商/簽約廠商、金融機構等為行銷與統計調查與分析之目的予以處理、利用。
			ul 7.就您提供予本公司之個人資料，得行使以下權利：查詢或請求閱覽、請求製給複製本、 請求補充或更正、請求停止蒐集、處理或利用、請求刪除。行使方式如下：
				li (1)如您欲查詢或請求閱覽、請求製給複製本、請求補充或更正等，您可直接登入會員中心，自行閱覽、列印複本、補充或更正個人資料。
				li (2)如欲請求停止蒐集、處理或利用、請求刪除，請您以正式書面來函詳細寫明所欲行使之權利種類、內容，以及本名、地址、電話等通訊連絡方式式，檢附身分證明文件影本(如國民身分證或護照影本)，寄至本公司營業地址要求辦理，未具備上述要件者，為尚未完成請求之程序，雙方同意應不起算本公司處理期間，請求手續不完備者，本公司得通知補件，並於完成補件後，始完成請求程序，並開始起算辦理期間。

			p.break 九、會員服務與使用規則：

			p 1.您於註冊程序完成並由本公司完成相關設定後，您即取得本公司會員之資格，您並可以開始使用本服務。本公司有權增加、變更或取消會員服務或功能之全部或一部，無須個別通知會員；本系統有關現有或將來之各項服務均適用本使用條款。
			ul 2.會員在使用本服務過程中，必須遵循以下規則：
				li (1)遵守本使用條款之規定。
				li (2)遵守相關法令規定，不得有任何違法情事。
				li (3)不得有任何侵害他人權利之情事。
				li (4)不得為任何非法目的而使用簡訊、網路服務系統、本網站、本服務。
				li (5)遵守所有與網路服務有關的網路協定、規定和程式。
				li (6)不得利用本公司簡訊及網路服務系統進行任何可能對互聯網或任何其他網站的正常運轉造成不利影響的行為。
				li (7)不得利用本網站、本公司簡訊及網路服務系統及APP服務傳輸任何騷擾、誹謗、恐嚇、猥褻或其他任何不當、違法之資訊、資料及內容。
				li (8)不得利用本網站、本公司簡訊、網路服務系統及APP服務進行任何不利於本公司之行為。
				li (9)如發現任何非法使用用戶帳號或帳號出現安全漏洞的情況，應立即通告本公司。
			p 3.如您未提供真實、正確及完整之個人資料，您將無法成為本網站之會員，本公司有權拒絕您的會員申請，並拒絕對您提供任何服務。

			p.break 十、隱私權保護：

			p 1.本公司會記錄您連線的位址及在相關網站內的瀏覽活動等資料，惟僅供作網站流量分析和網路行為調查，以便於改善日後網站/本服務的服務品質，此類資訊只用來進行數據統計分析，不涉及個人身分資料。本公司會經由您的電腦/行動設備(例如手機或平板)設定並取用Cookie，該Cookies之內容僅有本公司能讀取。
			ul 2.在下列情況下，本公司有權查看或提供您的個人資料給公務機關、法院或主張其權利受侵害並提出適當證明之第三人：
				li (1)依法令規定、或依司法機關或其他有權機關的命令。
				li (2)為執行本會員條款、或您違反本會員條款或本網站/本服務其他條款。
				li (3)為維護本網站及本服務系統之正常運作及安全。
				li (4)為保護本公司、本系統、本服務或其他第三人的合法權益。

			p.break 十一、廣告事宜：

			p 1.本公司提供之服務所傳輸或刊載之廣告，關於其內容所展現的文字、圖片、動畫、聲音、影像或以其他方式對商品或服務之說明，都是由廣告主或廣告代理商所提供，對於廣告之內容，本網站/本服務基於尊重廣告主或廣告代理商權利，不對廣告之內容進行審查。建議您自行判斷該廣告的正確性及可信度，本公司不對廣告做任何擔保責任，亦不負任何法律責任。
			p 2.本公司隨時會與其他公司、廠商等第三人（「內容提供者」）合作，由其提供包括新聞、訊息、電子報、eDM等不同內容供本系統/本服務刊登，本系統/本服務於刊登時均將註明內容提供者。基於尊重內容提供者之智慧財產權，本公司對其所提供之內容並不做實質之審查或修改，對該等內容之正確真偽及適法性亦不負任何責任。
			p 3.本系統/本服務主要收入來自廣告主的贊助，讓本公司能夠持續提供高品質的全球金融資訊與服務，凡經註冊成為本網站會員後，即視為同意接收本網站/本服務所發出之會員電子報及eDM 等廣告訊息。

			p.break 十二、服務暫停、中斷或終止：

			ul 1.如有下列情形，本公司得不通知會員，隨時暫停、中斷或終止本服務之全部或一部，會員不得請求本公司負擔任何賠償責任：
				li (1)本系統/本服務相關系統設備進行遷移、更換或維護。
				li (2)因不可歸責於本公司所造成服務停止或中斷。
				li (3)因不可抗力所造成服務停止或中斷。
			p.break 2.對於本系統/本服務之暫停、中斷或終止，可能造成您使用上的不便、資料遺失或其他經濟及時間上之損失，建議您平時應採取適當的防護措施，以保障您的權益。

			p.break 十三、免責聲明及責任限制：

			ul 1.本公司對於下列事項不提供任何明示或默示之保證，會員不得藉此請求本公司負擔任何法律上責任：
				li (1)本系統及本服務符合您的需求。
				li (2)本系統及本服務不受干擾、及時提供、安全可靠或免於出錯。
				li (3)由APP站及本服務而取得之資訊、資料或結果為正確或可靠。
				li (4)您經由本系統及本服務購買或取得之任何產品、服務、資訊或其他資料將符合您的期望。
			p 2.您自本系統或經由本服務取得之建議和資訊，均僅供參考，無論其為書面或口頭，均不構成本公司之保證。
			p 3.本系統及本服務提供之各項資訊僅供參考，您依據相關資訊所為之投資或其他任何行為，均應自行評估風險並自負其責，本公司不負擔任何投資風險責任或其他任何法律責任。
			p 4.您明確了解並同意本公司及關係企業、負責人、受僱人、代理人、合夥人及授權人，無須為您任何直接、間接、附隨、特別、衍生、懲罰性的損害負責，包括但不限於因下述事由所生利潤、商譽、使用、資料之損害或其他無形損失：(1)使用或無法使用本服務；(2)替代商品及服務之購買成本；(3)他人未經授權存取或修改您的傳輸或資料；(4)任何第三人就本服務所為之聲明或行為，或(5)任何其他與本服務有關者。
			p 5.您確實明瞭在使用本系統及本服務時，可能遇到以下風險：如斷線、斷電、網路壅塞或其他不可歸責於本公司事由所造成之傳輸中斷、停滯、阻礙等情事，致無法觀看或無法順暢觀看，本公司就前述傳輸問題不負任何賠償或補償責任。
			p 6.若本公司依法或依約須對您負擔賠償或補償責任時，其賠償或補償責任以有爭議之該筆交易之實收金額為上限，本公司對於任何因該筆交易貨無法交易所生之其他損害（包含但不限於間接損失），不負任何補償或賠償責任。

			p.break 十四、會員內容之移除/刪除、保留或揭露：

			ul 本公司基於下列事由，有權不經通知逕行將會員所傳送、張貼或發表之內容予以移除/刪除、保留或揭露：
				li (1)司法或警察機關偵查犯罪需要時。
				li (2)依政府機關以函令向本公司要求。
				li (3)因會員之行為違反法令或本使用條款或本網站之各項服務之相關條款規定時。
				li (4)基於維護公益或保護本公司或他人權利。
				li (5)事先獲得會員之同意。

			p.break 十五、違約責任：

			p 本公司/本系統之會員同意保障和維護本公司及第三人之權益，如會員、會員相關聯之人有侵害他人權利或違反法令或本使用條款或本網站各項服務之條款之情事，致本公司或任何第三人受有損害者，該侵權人應賠償本公司或第三人因此所生之一切損害(包括但不限於罰鍰、罰金、賠償金、和解金、訴訟費及律師費等）。

			p.break 十六、智慧財產權：

			p 1.本系統上所使用或提供之軟體、程式及內容（包括但不限於文字、說明、圖畫、圖片、圖形、檔案、頁面設計、網站規劃與安排等）之專利權、著作權、商標權、營業秘密、專門技術及其他智慧財產權與權利均屬本公司或其他權利人所有，非經本公司或權利人事先書面授權同意，會員不得重製、改作，編輯、公開傳播、公開播送、公開上映、公開演出、出租、散布、進行還原工程、解編、反向組譯或為其他方式之使用，如有違反，會員除應自行負法律責任外，本公司並有權逕行終止會員權益及本服務之全部或一部，並依本使用條款第11條辦理。
			p 2.為了提供會員更加完善之服務，本公司會接洽合作廠商提供各種圖檔、圖片或其他著作或資料，供會員得以瀏覽、檢索。但這些圖檔、圖片及其他著作或資料均是由各該廠商所提供，並由各該廠商自行對使用者擔保其合法性及正確性，與本公司無涉。

			p.break 十七、不得轉讓：

			p 本公司提供之各項服務及其他一切因會員身份享有之權益，仍屬本公司或其他合法權利人所有，會員除僅得於服務期間內依本使用條款之約定為使用外，皆不得以任何方式將其授權、轉讓、移轉、出租、出借予其他任何第三人或繼承…等。如有違反，非經本公司同意，對本公司均不生效力。會員應自負其責，本公司並有權逕行終止會員權益及本服務之全部或一部。

			p.break 十八、內容變更：

			p 本公司有修改本使用條款之權利，如本使用條款有變更，會員同意自該修訂條款於本系統/本服務公告之時起受其拘束，本系統將不對會員個別通知。如您於公告後繼續使用本服務，則視為您已經同意該修訂條款。

			p.break 十九、通知與送達：

			p 除本使用條款另有約定從其約定外，本系統/本服務之通知均可以透過本系統/本服務頁面公告、電子郵件等方式進行。如以頁面公告方式，則自公告之時起即視為通知已到達會員；如以電子郵件方式，則自電子郵件發送之時視為已到達會員。

			p.break 二十、準據法及管轄法院：

			p 1.關於本使用條款之解釋或適用，以中華民國之法律為準據法。
			p 2.會員因本使用條款及使用本服務而與本公司所生之爭議，同意本誠信原則解決之，如有訴訟之必要，同意以臺灣臺北地方法院為第一審管轄法院。

			p.break 二一、其他規定：

			p 1.如本使用條款之部份無效時，不影響其他約款之效力。
			p 2.本使用條款之標題僅為閱讀方便而設，不影響本使用條款之解釋。
		.policy-validation
			label.policy-validation__checkbox 我已清楚詳讀條款內容，並勾選同意服務條款
				input#policyAgreeCheckbox(type="checkbox", name="agree-policy")
				span 
		.policy-confirm
			a(href="tutorial1.html").disabled#policyAgreeBtn 確認
