extend base/index-layout.pug

block script
	//- script(src='js/layout_tutorial.js' type="module")
block backButton
	p 瓦斯通餘氣功能說明
block main-content
	.signup--tutorial.default-bg
		.tutorial-img__wide
			img(src="images/tutorial2.png")
		.tutorial-next
			button 下一步
