extend base/index-layout.pug

block script
block backButton
	p 瓦斯通餘氣功能說明
block main-content
	.signup--tutorial.default-bg
		.tutorial-text
			h1 每次更換新桶時<br>物流士將現場秤量餘氣<br>並存至您App帳戶內
			h2 一旦您累積存氣至所需規格<br>即可使用存氣兌換
		.tutorial-img
			img(src="images/tutorial1.png")
		.tutorial-next
			button 下一步
