.buy-gas--time {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 0 20px;
  &-notice {
    text-align: center;
    margin-top: 20px;
    p {
      color: $yellow;
      margin: 0;
      font-size: 0.813em;
    }
  }
  &-period {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
    label {
      display: block;
      width: 100%;
      max-width: 140px;
      background: #c4c4c4;
      @include radius(12px);
      & > input {
        visibility: hidden;
        position: absolute;
        & + div {
          cursor: pointer;
          padding: 0.5em 0.5em;
          @include radius(12px);
          @include transition(all 0.3s);
          p {
            text-align: center;
            margin: 0;
            font-weight: bold;
          }
        }
      }
      & > input:checked + div {
        background: $yellow;
      }
    }
  }
  .buy-gas--delivery-date {
    margin-top: 40px;
    input {
      width: calc(100% - 86px);
      background: rgba(0, 0, 0, 0.42);
      border: 3px solid #323232;
      backdrop-filter: blur(10px);
      padding: 0.5em 2em;
      text-align: center;
      color: $yellow;
      font-size: 1.25em;
      font-weight: bold;
      font-style: italic;
      @include radius(12px);
    }
  }
  .buy-gas--delivery-methods {
    padding: 20px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.42);
    border: 3px solid #323232;
    backdrop-filter: blur(10px);
    @include radius(12px);
    p {
      color: white;
      text-align: center;
      margin: 0;
      margin-bottom: 6px;
    }
    label {
      display: block;
      width: 100%;
      @include radius(12px);
      & > input {
        visibility: hidden;
        position: absolute;
        & + div {
          position: relative;
          cursor: pointer;
          padding: 0.5em 0.5em;
          @include radius(12px);
          @include transition(all 0.3s);
          p {
            text-align: center;
            margin: 0;
            color: #323232;
            @include transition(all 0.3s);
          }
          &:after {
            content: '';
            display: none;
            position: absolute;
            right: 10px;
            top: 12px;
            width: 12px;
            height: 6px;
            border: 2px solid $yellow;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
          }
        }
      }
      & > input:checked + div {
        p {
          color: $yellow;
        }
        &:after {
          display: block;
        }
      }
    }
  }
  .buy-gas--confirm-delivery-time {
    margin-top: 2em;
    margin-bottom: 50px;
    a {
      display: block;
      padding: 1em 2em;
      background: $yellow;
      text-align: center;
      color: black;
      @include radius(12px);
      @include transition(all 0.3s);
    }
    .disabled {
      background: #323232;
      color: #5a5a5a;
    }
  }
}
